<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="{{ '/' | relative_url }}">{{ site.author.name }}</a>
        </div>
        <div class="nav-menu" id="nav-menu">
            <a href="{{ '/#home' | relative_url }}" class="nav-link">Home</a>
            <a href="{{ '/#publications' | relative_url }}" class="nav-link">Publications</a>
            <a href="{{ '/#blog' | relative_url }}" class="nav-link">Blog</a>
            <a href="{{ '/#talks' | relative_url }}" class="nav-link">Talks</a>
            <a href="{{ '/#grants' | relative_url }}" class="nav-link">Grants</a>
            <a href="{{ '/#awards' | relative_url }}" class="nav-link">Awards</a>
            <a href="{{ '/#cv' | relative_url }}" class="nav-link">CV</a>
        </div>
        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
